<div class="row">
    <div class="col-12 text-center">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if pages.current == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ route(pages.type, [pages.current - 1]) }}">{{ lang('previous') }}</a>
                </li>
                {% for i in 2..1 %}
                    {% if pages.current - i > 0 %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ route(pages.type, [pages.current - i]) }}">{{ pages.current - i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="page-item active">
					<span class="page-link">
						{{ pages.current }}
						<span class="sr-only">(current)</span>
					</span>
                </li>
                {% for i in 1..2 %}
                    {% if pages.current + i <= pages.total %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ route(pages.type, [pages.current + i]) }}">{{ pages.current + i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {% if pages.current == pages.total or pages.total == 0 %}disabled{% endif %}">
                    <a class="page-link" href="{{ route(pages.type, [pages.current + 1]) }}">{{ lang('next') }}</a>
                </li>
            </ul>
        </nav>
        <p>Page {{ pages.current }} out of {{ pages.total }}</p>
    </div>
</div>